@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    ViewBag.Title = "MensClothing";
}

<h2>MensClothing</h2>

@using (Html.BeginForm("SearchList", "Clothing", FormMethod.Get)) {

    @Html.TextBox("query")
    <input type="submit" value="Search" />
}