@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    ViewBag.Title = "ChooseType";
    string productType = ViewBag.ProductType;
}

<h2>ChooseType</h2>

<ul>
    <li>@Html.ActionLink("Go to Clothing", productType + "Clothing", "Clothing")</li>
    <li>@Html.ActionLink("Go to Footwear", productType + "Footwear", "Footwear")</li>
</ul>