@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<ul>
    <li>@Html.ActionLink("Go to Mens", "ProductDetails", new { id = "Mens" })</li>
    <li>@Html.ActionLink("Go to Womens", "ProductDetails", new { id = "Womens" })</li>
    <li>@Html.ActionLink("Go to Kids", "ProductDetails", new { id = "Kids" })</li>
</ul>

