@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<ul>
    <li>@Html.ActionLink("Go to Mens", "ProductDetails", new { productType = "Mens" })</li>
    <li>@Html.ActionLink("Go to Womens", "ProductDetails", new { productType = "Womens" })</li>
    <li>@Html.ActionLink("Go to Kids", "ProductDetails", new { productType = "Kids" })</li>
</ul>

