<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <div id="footer">
        <div id="left-menu">
            <h3>Left Menu</h3>
            @Html.MvcSiteMap().Menu(new { name = "LeftMenu" })
        </div>
        <div id="breadcrumb">
            <h3>Breadcrumb</h3>
            @Html.MvcSiteMap().SiteMapPath()
        </div>
    </div>
</body>
</html>
