@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    ViewBag.Title = "WomensFootwear";
}

<h2>WomensFootwear</h2>

@using (Html.BeginForm("SearchList", "Footwear", FormMethod.Get)) {

    @Html.TextBox("query")
    <input type="submit" value="Search" />
}